<div>
	<center><h1>Purchase additional units for your empire.</h1></center>
	<form>
		<center><p>Your empire name: <input class="createempirebox" type="text" ng-model="newEmpire.name" required></p></center>
		<center><h3 style="color: yellow;">Current gold: <span>{{ currentGold() }}</span> Gold(s)</h3></center>
		<center><p ng-repeat="message in messages">{{ message }}</p></center>
		<center><p><h1>{{ error() }}</h1></p></center>
		<div id="createTable">
			<table>
				<tr>
					<th>Units</th>
					<th>Price</th>
					<th>Abilities</th>
					<th>Amount</th>
					<th>Total Cost</th>
				</tr>
				<tr>
					<td>Laborers</td>
					<td>1 Gold Each</td>
					<td>Laborers grant you 1-5 gold each time you send them to work (up to 10 times per day)</td>
					<th><input class="marketInput" type="number" ng-model="newEmpire.worker"></th>
					<th>{{ worker() }} Gold</th>
				</tr>
				<tr>
					<td>Infantry</td>
					<td>1 Gold each</td>
					<td>Infantry grants power to your army from a scale of 1-10 for each infantry unit you have</td>
					<th><input class="marketInput" type="number" ng-model="newEmpire.infantry" required></th>
					<th>{{ infantry() }} Gold</th>
				</tr>
				<tr>
					<td>Archer</td>
					<td>2 Gold each</td>
					<td>Archers grant power to your army from a scale of 3-15 for each archer unit you have</td>
					<th><input class="marketInput" type="number" ng-model="newEmpire.archer"></th>
					<th>{{ archer() }} Gold</th>
				</tr>
				<tr>
					<td>Knight</td>
					<td>3 Gold each</td>
					<td>Knights grant power to your army from a scale of 5-20 for each knight unit you have</td>
					<th><input class="marketInput" type="number" ng-model="newEmpire.knight"></th>
					<th>{{ knight() }} Gold</th>
				</tr>
				<tr>
					<td>Warrior</td>
					<td>5 Gold each</td>
					<td>Warriors grant power to your army from a scale of 10-15 for each warrior unit you have</td>
					<th><input class="marketInput" type="number" ng-model="newEmpire.warrior"></th>
					<th>{{ warrior() }} Gold</th>
				</tr>
				<tr>
					<td>Calvary</td>
					<td>10 Gold each</td>
					<td>The calvary grants power to your army from a scale of 15-25 for each calvary unit you have</td>
					<th><input class="marketInput" type="number" ng-model="newEmpire.calvary"></th>
					<th>{{ calvary() }} Gold</th>
				</tr>
				<tr>
					<td>Hero</td>
					<td>100 Gold each</td>
					<td>Heroes grant power to your army from a scale of 10-150 for each hero unit you have</td>
					<th><input class="marketInput" type="number" ng-model="newEmpire.hero"></th>
					<th>{{ hero() }} Gold</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>Total</td>
					<th>{{ total() }} Gold</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><input type="submit" value="Create your empire" ng-click='createEmpire(newEmpire)' ng-if='currentGold() >= 0'></td>
					<td></td>
				</tr>
			</table>
		</div>     
	</form>
</div>