<div>
	<center><p><a href="#/viewEmpire"><button>Your Empire</button></a> <a href="#" ng-click="logout()"><button>Log Out</button></a></p>
	<h3>Lord <span>{{user.firstName}}</span>! Here is your enemy info, should we attack them?</h3></center>
	<center>
		<div id="enemyTable">
			<table>
				<tr>
					<th></th>
					<th><h2>{{empire.name}} of {{empire.user_name}}&nbsp;&nbsp;&nbsp;&nbsp;</h2></th>
					<th><h2>{{enemy.name}} of {{enemy.user_name}}</h2></th>
				</tr>
				<tr>
					<td>Laborers</td>
					<th>{{empire.worker}}</th>
					<th>{{enemy.worker}}</th>
				</tr>
				<tr>
					<td>Infantry</td>
					<th>{{empire.infantry}}</th>
					<th>{{enemy.infantry}}</th>
				</tr>
				<tr>
					<td>Archers</td>
					<th>{{empire.archer}}</th>
					<th>{{enemy.archer}}</th>
				</tr>
				<tr>
					<td>Knights</td>
					<th>{{empire.knight}}</th>
					<th>{{enemy.knight}}</th>
				</tr>
				<tr>
					<td>Warriors</td>
					<th>{{empire.warrior}}</th>
					<th>{{enemy.warrior}}</th>
				</tr>
				<tr>
					<td>Calvary</td>
					<th>{{empire.calvary}}</th>
					<th>{{enemy.calvary}}</th>
				</tr>
				<tr>
					<td>Heroes</td>
					<th>{{empire.hero}}</th>
					<th>{{enemy.hero}}</th>
				</tr>
				<tr>
					<td>Gold</td>
					<th>{{empire.gold}}</th>
					<th>{{enemy.gold}}</th>
				</tr>
				<button ng-click="attack()" ng-if="enemy.power > 5000 && empire.power >5000">Attack</button>
				<p ng-if="enemy.power < 5000">Enemy is too weak, can't attack</p>
				<p ng-if="empire.power < 5000">You're too weak, can't attack</p>
			</table><br><br>
			<h3 style="color: #A81A1A" ng-repeat='message in messages'>{{message}}</h3>
		</div>


	</center>
</div>