<div>
	<center><p><a href="#/viewEmpire"><button>Your Empire</button></a> <a href="#" ng-click="logout()"><button>Log Out</button></a></p>
	<h3 class="viewCenter">Welcome Lord <span class="viewCenter">{{ user.firstName }}</span>! This is the list of top empires</h3>
	<h4 class="rankAdvisor">Your Advisor: {{ adviser() }}</h4></center>
	<p id="searchbox"><input style="margin-top:10px;"type="text" value="Search" ng-model="filter_name" placeholder="Search"></p>
	<div id="rankDiv">
		<table>
			<tr>
				<th>Empire</th>
				<th>Laborers</th>
				<th>Infantry</th>
				<th>Archers</th>
				<th>Knights</th>
				<th>Warriors</th>
				<th>Calvary</th>
				<th>Heroes</th>
				<th>Gold</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat='eachEmpire in empireList | filter: filter_name | orderBy: "-gold"' ng-if="eachEmpire._id != user.empire_id">
				<td>{{eachEmpire.name}} of {{eachEmpire.user_name}}</td>
				<th>{{eachEmpire.worker}}</th>
				<th>{{eachEmpire.infantry}}</th>
				<th>{{eachEmpire.archer}}</th>
				<th>{{eachEmpire.knight}}</th>
				<th>{{eachEmpire.warrior}}</th>
				<th>{{eachEmpire.calvary}}</th>
				<th>{{eachEmpire.hero}}</th>
				<th>{{eachEmpire.gold}}</th>
				<th><a href="#/enemy/{{eachEmpire._id}}"><button>Inspect</button></a></td></th>
			</tr>
		</table>
	</div>
</div>