/********************GLOBAL********************/

* {
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
}

td {
  font-size: 14px;
  color: white;
  font-family: 'Noto Serif', serif;
}
th {
  font-size: 14px;
  color: white;
  font-family: 'Noto Serif', serif;
}

#mainfooter {
  font-size: 14px;
  color: #ccc;
  margin: 120px 0px 5px 120px;
  color: white;
  position: fixed-bottom;
}
legend {
  color: white;
  font-size: 24px;
}

#container {
  height: auto;
  width: 1100px;
}


/********************LOGIN AND REGISTRATION PARTIAL********************/

html {
  background: url('/images/loginBackground.png') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  overflow: scroll;
  padding: 50px 100px 100px 100px;
  height: 600px;
}

#Register {
  display: inline-block;
  width: 400px;
  margin-right: 150px;
  margin-left: 80px;
  margin-bottom: 100px;
}

#Login {
  vertical-align: top;
  display: inline-block;
  width: 350px;
}

fieldset {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 500px;
  padding: 0px 16px 16px 16px;
  color: white;
  font-family: 'Noto Serif', serif;
}

input {
  width: 100%;
  padding: 6px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: darkgreen;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

h2 {
  margin-bottom: 7px;
  margin-top: 2px;
  color: white;
}

h4 {
  color: white;
  margin-top: 10px;
}

/********************CREATE EMPIRE PARTIAL********************/

#createTable {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 1100px;
  padding: 20px;
  color: white;
  font-family: 'Noto Serif', serif;
}
.createempirebox{
  width: 300px;
}

/********************RANK PARTIAL********************/

#searchbox {
  width: 300px;
}

#rankDiv {
  width: 900px;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  padding-top: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: scroll;
}
.rankAdvisor {
  color: #A81A1A;
  /*font-size: 20px;*/
  font-family: 'Noto Serif', serif;
}
/********************VIEW EMPIRE PARTIAL********************/

button {
  width: 150px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 10px 10px 20px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#viewContainer {
  width: 900px;
  height: 1150px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  margin-top: 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.viewCenter {
  color: #A81A1A;
  font-size: 20px;
  font-family: 'Noto Serif', serif;
}

#viewName {
  font-family: 'Noto Serif', serif;
  font-size: 40px;
  color: #A81A1A; 
}

#viewList {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 30px 30px 30px;
  margin-top: 30px;
  color: white;
  letter-spacing: 1px;
  line-height: 20px;
  overflow: scroll;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.viewHeaders {
  display: inline;
  font-size: 20px;
  color: white;
  height: 50px;
  width: 300px;
  background-color: red;
}
/********************BLACK MARKET PARTIAL********************/


#marketContainer {
  width: 960px;
  height: 740px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  padding: 25px;
  border-radius: 5px;
}

.marketInput {
  width: 120px;
}

/********************ECONOMY PARTIAL********************/

#rankInput {
  width: 100px;
}

#economyMain {
  height: 680px;
  width: 750px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 25px;
  color: white;
  font-family: 'Noto Serif', serif;
  font-size: 14px;
}

#economyGamble{
  height: 300px;
  width: 400px;
  padding: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

#economyWood {
  height: 260px;
  width: 250px;
  display: inline-block;  
  margin-top: 30px;
  padding: 15px;
  vertical-align: top;
  margin-left: 60px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

#economySea {
  height: 260px;
  width: 250px;
  display: inline-block;
  margin-top: 30px;
  padding: 15px;
  vertical-align: top;
  margin-left: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

/********************ENEMY PARTIAL********************/

#enemyTable {
  color: #A81A1A; 
  margin-bottom: 200px;
  width: 500px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
  margin-top: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Noto Serif', serif;
}
.enemynameonenemypage{
  margin-left: 40px;
}








